._*
.DS_Store

*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
**/MacOSX/build
**/iOS/build
**/Linux/build
**/Builds/LinuxMakefile*
**/Builds/VisualStudio*
**/JuceLibraryCode
**/Builds/MacOSX
**/Builds/Android
**/Builds/CLion
**/doxygen/doc
**/doxygen/build
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js
